*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color: transparent;
}

body{
    margin:0;
    padding:0;
}
.header-main > button{
    margin:0;
}
.header-main > h1{
    display: flex;
    margin:0;
    justify-content: center;
    font-size: 250%;
}
.balance-main{
    text-align: center;
}
.clicker-main{
    display: flex;
    margin-top:10rem;
}

.clicker-main > a{
    text-align: center;
    text-decoration:none;
    color:#000;
    margin:auto;
    width:15rem;
    display:inline-block;
    line-height:2rem;
    font-size:3rem;
    font-weight:900;
    letter-spacing:2px;
    text-transform:uppercase;
    background-color: #fff;
    border:5px solid #000;
    box-shadow:1px 1px 0, 2px 2px 0, 3px 3px 0, 4px 4px 0,5px 5px 0;
    position: relative;
    padding: 1.5rem;
  }
   .clicker-main > a:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width:100%;
     z-index: -1;
    background-color: rgb(255, 255, 255);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
  }
  .clicker-main > a:hover{
    background-color: transparent;
  }
   .clicker-main > a:active{
     top:5px;
     left:5px;
     box-shadow:0 0 0 0;
     background-color: yellow;
  }
  #background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .switch-1{
    list-style-type: none;
    display: flex;
    flex-direction: row;
  }
.upgrades{
  text-decoration: none;
  list-style-type: none;
  margin-top: 10rem;
  justify-content: center;
  width: 10rem;
  border: #fff solid 1px;
  background-color: #d14f4d;
}
.refinery{
  text-decoration: none;
  list-style-type: none;
  margin-top: 10rem;
  margin-left: 4.4rem;
  justify-content: center;
  width: 10rem;
  border: #fff solid 1px;
  background-color: #d14f4d;
}
.stanic{
  margin-top: 1rem;
  text-align: center;
  border: #fff solid 1px;
  background-color: #d14f4d;
}
.poppup-modal{
  width: 100%;
  z-index: 100;
  background-color: white;
  position: absolute;
  top:0;
  display: none;
}
.active{
  display: block;
}
.close{
  cursor: pointer;
  font-family: sans;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: 2rem;
  top:1rem;
}
.upgrade--wrapper{
    gap:1rem;
    font-size: 0.825rem;
    display: flex;
    margin:3rem;
}
.wrapper--logo{
  width: 150px;
  height: 150px;
}
.wrapper--logo img{
  height: 100%;
  width: 100%;
}